/* BEGIN CUSTOM CSS */

/*
 *    TABLE OF CONTENTS
 *    - Site Header Customizations
 *    - Jive Announcements Customizations
 *    - RSA Ideas Customizations
 *    - Knowledge Base Customizations
 *    - Jive Content Customizations
 *    - Events Customizations
 *    - Mobile Customizations
 *    - Activity Page Customizations
 *    - Other Customizations
 */
 
/* ========================== */
/* Site Header Customizations */
/* ========================== */

/* 7S Legacy Header Styling */
.l-mountain-container {
	width: 96%;
	max-width: 1200px;
	margin: 0 auto;
}
.l-mountain-row {
	margin-left: -15px;
	margin-right: -15px;
	*zoom: 1;
}
.l-mountain-row:before,
.l-mountain-row:after {
	content: " ";
	display: table;
	line-height: 0;
}
.l-mountain-row:after {
	clear: both;
}
.c-custom-header {
	background: transparent;
	height: 60px;
	padding-top: 6px;
	padding-bottom: 10px;
	background-color: #FFF;
}
.c-custom-header .c-custom-header__brand {
	float: left;
	width: 50%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.c-custom-header .c-custom-header__brand img {
	margin-bottom: -20px;
}
.c-custom-header .c-custom-header__nav {
	float: left;
	width: 50%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: right;
}
.c-custom-header .c-custom-header__nav ul {
	list-style: none;
}
.c-custom-header .c-custom-header__nav ul li {
	display: inline-block;
	padding: 0;
}
.c-custom-header .c-custom-header__nav ul li {
	margin-left: 12px;
	margin-top: -5px;
}
.c-custom-header .c-custom-header__nav ul li a {
	color: #696767;
}
.c-custom-header .c-custom-header__nav ul li a img {
	position: relative;
	top: 2px;
}
.c-custom-header .c-custom-header__nav ul li.u-brick-logo {
	position: relative;
	top: 5px;
}
.c-custom-header .c-custom-header__nav ul li.u-brick-logo img {
	width: 55px;
}
span[code1] {
	font-family: "Courier New"
}

/* Set header backgroun to white */
#j-header, #j-compact-header {
    background-color: #FFF;
    background-image: none;
}

/* Hide RSA Employee menu item by default */
#customLink4 {
	display:none;
}

/* Extend the Products drop down in the main menu */
.j-custom-link .j-pop .j-menu ul {
    min-width: 265px;
    max-width: 400px;
}

/* Expand the width of the RSA Employees drop down menu */
.j-custom-link #customLink4-menu ul {
    min-width: 395px;
}

/* Fix the issue with the Log Out button -- RSALINK-4676 */
a#jive-nav-link-logout:hover, a#jive-nav-link-logout:focus, a#jive-nav-link-logout:active{
   background-color:#006095;
}

/* Increase the width of space breadcrumbs */
.j-placeHeaderInner {
    max-width: 770px;
}


/* ================================= */
/* Jive Announcements Customizations */
/* ================================= */

/* Apply styling to the Jive Announcements */
.j-home-welcome #jive-alert {
    margin: -30px 20px 0;
}
.jive-alert-announcement-label {
    color: #be3a34;
	font-weight: bold !important;
}
.jive-alert-header .jive-alert-title {
    font-size: 1.2em;	
}
#jive-alert-details-show-1 a.font-color-meta-light {
    display: none;
}
.jive-alert-header {
	width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.jive-icon-med.jive-icon-announcement {
    display: none;
}
.j-body-place #j-main #jive-alert {
    margin: auto auto 0px;
}


/* ======================== */
/* RSA Ideas Customizations */
/* ======================== */

/* Hide the ability to downvote ideas */
button.js-vote-button.js-vote-down {
    display: none;
}
.j-idea-vote-history .j-participant-buttons ul li:nth-child(2) {
    display: none !important;
}


/* ============================= */
/* Knowledge Base Customizations */
/* ============================= */

/* Workaround for code snippet issue - RSALINK-3164 */
p.ckeditor_codeblock {
	background: #efefef;
	display: block;
	padding: 8px;
	border: 1px solid #ccc;
	overflow-x: auto;
	margin: 10px 0 10px 20px;
	word-wrap: normal;
	font-family: monospace;
}

/* Change the height of <br> tags brought over from Salesforce */  
table.kb-article br {  
    margin: 2em;  
    display: block;  
    font-size: 24%;  
    content: "";  
}  
/* Keep the 'Applies To' field at the normal <br> width */
table.kb-article tr:nth-child(2) br {
    margin: 0em;
}
/* Keep the code snippets at the normal <br> width */
table.kb-article pre.ckeditor_codeblock br {
    margin: 0em;
}

/* Add padding between knowledge base article table rows */  
table.kb-article td {  
    padding-bottom: 20px;  
}  

/* Expand code snippets to full width in Jive */
table.kb-article pre.ckeditor_codeblock {
    width: 96% !important;
}

/* Style tables within knowledge base articles */
table.kb-article table {
	border: 1px solid #414042;
}
table.kb-article table th {
    background-color: #006ba6;   
}
table.kb-article table th span {
    color: #fff;
}


/* =========================== */
/* Jive Content Customizations */
/* =========================== */

/* Fix the Jive Content footer to conform to background dimensions */
@media only screen and (min-width: 1263px) {
	#jive-footer-region {
		margin-left: auto;
		margin-right: auto;
		width: 50%;
	}
}

/* Invert the place icon in the Publish Location box */
#js-publishbar-place-selection .j-place-image-container {
    filter: invert(100%);
}

/* Center embedded videos in Jive documents */
.j-content-body .jive-rendered-content iframe#mediaFrame {
    /* margin-left: 50%; */
	/* margin-right: 50%; */
}

/* Adjust centering of embedded YouTube videos within Jive RTE tables */
.j-content-body .jive-rendered-content .j-rte-table iframe#mediaFrame {
    margin-left: 0;
    margin-right: 0;
}

/* Remove the background and box shadow from the breadcrumb bar when viewing content */
.j-breadcrumb-bar {
    background: none;
    box-shadow: none;
}
.j-breadcrumb-bar .j-wrap {
    box-shadow: 0 1px 0 rgba(0,0,0,.06);
}

/* Style the Decision badge for the structured outcome */
.j-outcome-badge.js-outcome-type-decision {
	background-color: #509e2f;
	color: #fff;
	font-size: 16px;
	transition: background-color .25s ease-out;
}
.j-outcome-badge.js-outcome-type-decision:hover, .j-outcome-badge.js-outcome-type-decision:active {
	background-color: #7bbe20;
}

/* Hide email icon in hyperlinks within pre tags in Jive content */
.jive-rendered-content pre .jive-link-email-small {
    background-image: none;
    padding-left: 0px;
}

/* Make hyperlinks in blue info boxes bold */
div[alert=info].jive_macro_alert a {
    font-weight: bold;
}

/* Fix horizontal scrolling issue with https://community.rsa.com/docs/DOC-61640 -- RSALINK-5507 */
.TableStyle-tableAppRules-BodyE-Description-DarkerRows, .TableStyle-tableAppRules-BodyE-Description-LightRows {
    max-width: 458px !important;
}

/* Adjust shadow effect over comments container */
.j-design-latest .j-content-comments-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 66%;
}

/* Change text with the "Code" class (published via Flare/Zoomin) to be in Courier New */
.j-content-body .jive-rendered-content .Code {
    font-family: 'Courier New', monospace;
}

/* left-align captions in Madcap Flare documents */
.TableStyle-table> caption {
    text-align: left;
}

/* Added spacing above sections in Madcap flare documents */
.MCDropDown.MCDropDown_Closed.dropDown {
    padding-top: 15px;
}
.MCDropDownBody .MCDropDown.MCDropDown_Closed.dropDown {
    padding-top: 0px;
}

/* Made Procedure intro text bold in Madcap Flare docs*/
p.ProcIntro{ 
    font-weight: bold;
}

/* unbold Procedure steps under tasks in Madcap Flare docs */
.dropDownProcedure span {
    font-weight: normal !important;
}

/* ===================== */
/* Events Customizations */
/* ===================== */

/* Adjust font size on Event Types list -- RSALINK-3585 */
.j-event-filter-options .j-event-type-filter ul {
	font-size: 11px;
}

/* Adjust spacing between space header and Event Search Box -- RSALINK-3585 */
.j-event-search-box-container.js-event-search-box-container {
	margin-top: 15px;
}

/* Adjust the line height for events on the RSA University Events page */
.j-event-list .j-content-event-details .j-content-event-meta>span {
	height: 16px;
}

/* Adjust height of event details on event pages */
.j-design-latest .j-event-details-block .j-content-event-details p {
    min-height: 20px;
}
.j-design-latest .j-event-location-details .j-event-location p {
    min-height: 35px;
}

/* Adjust size of date in Upcoming Events sidebar widget */
.jive-event-sidebar-date {
    font-size: 0.80em;
}

/* Change the background color of the RSVP section */
.j-design-latest .j-event-details-block {
    background-color: #eeeff0;
    padding: 10px 50px;
}


/* ===================== */
/* Mobile Customizations */
/* ===================== */

/* Hide RSA Employee menu item bu default for mobile view */
@media screen and (max-width: 40em) {
	#j-globalNav >li#customLink4 {
        visibility: hidden;
	}
}
@media screen and (max-width: 40em) {
	#customLink4-menu, #customLink3-menu {
		height:auto!important;
		max-height:none!important;
	}
}

/* Fix the mobile display */
@media screen and (max-width: 40em) {
	.j-placeHeaderInner {
		padding-top: 0px;		
	}
}
@media screen and (max-width: 40em) {
	body.j-body-place #j-main .j-layout {		
		padding-top: 20px;
	}
}

/* Display knowledge article vertically on iPhone 6 and below */
@media screen and (max-width: 375px) {
	table.kb-article th,
	table.kb-article td {
		display: block;
		max-width: 320px !important;
	}
	table.kb-article pre.ckeditor_codeblock {
		margin: 10px 0 10px -1px !important;
	}
}


/* ============================ */
/* Activity Page Customizations */
/* ============================ */

/* Style the tile headers on the Activity pages */
.jive-widget .j-tile-header, .j-tile .j-tile-header {
    position: relative;
    border-bottom: none;
    padding: 0;
    height: 33px;
    border-radius: 0;
    background-color: #006ba6;

}
.jive-widget .j-tile-header h4, .j-tile .j-tile-header h4 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    overflow: hidden;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    max-width: 280px;
    text-overflow: ellipsis;
    margin: 0px 0 5px;
    line-height: 1.1em;
    padding: 5px 10px;
    margin-top: 5px;
}

/* Adjust lower margin in HTML tiles */
.j-tile.js-tile.j-tileType-custom_view:first-child {
    margin-bottom: -35px;
}

/* Invert color of space icons in tiles */
.js-tile-body img.jive-ext-icon-16.icn {
    filter: invert(100%);
}


/* =========================== */
/* User Profile Customizations */
/* =========================== */

/* Force the user profile banners to align with the overall website width */
.has-profile-banner .j2-pages-mitui-profile-banner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* ==================== */
/* Other Customizations */
/* ==================== */

/* Invert the place icon in the hover card */
.j-mini-modal-place .j-modal-content .j-place-photo {
    filter: invert(100%);
}

/* Invert the place icon in the global search */
.j-search-place-image {
    filter: invert(100%);
}

/* Hide ability to create spaces or groups from Your Places page */
.j-body-yourplaces .j-box.j-box-actions.j-rc5 {
    display: none;
}

/* Hide the Space Administrators tile on the People tab */
.j-browse-people .j-box.j-box-owners {
    display: none;
}

/* Change the "Unauthorized" message in Jive */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
	/* Chrome 29+ */
	.j2-base-components-global-unauthorized p {
		visibility: hidden;
	}
	.j2-base-components-global-unauthorized p:after {
		content: 'This place or content does not exist or access to it is restricted. If you think this is a mistake, please confirm that you are logged in and that the URL is correct, then contact RSA Customer Support for assistance.';
		display: block;
		visibility: visible;
		margin-top: -50px;
	}
}

/* Fix layout of the "Unauthorized" custom message */
.j2-base-components-global-unauthorized h1 {
    padding-bottom: 20px;
}

/* Hide the ability to create subspaces via the UI */
.j-place-actions-links #jive-place-link-actions-space {
    display: none;
}
.j-place-actions-links #jive-place-link-actions-video {
    /* margin-top: -15px; */
}
.jive-widget-actions #jive-link-createSub {
    display: none;
}

/* Hide ability to change space banner */
.j-page-header a.j-placeBgImageDisplay.j-placeElementEditable {
    display: none;
}

/* Change font family to monospace in the custom header and footer fields in the Theme Builder */
textarea#customHeaderCSS,
textarea#customHeaderHTML,
textarea#customFooterCSS,
textarea#customFooterHTML {
    font-family: monospace !important;
}

/* Hide the false login box on the T&C agreement page -- RSALINK-4758 */
.j-terms-n-conditions ~ .j-box.j-enhanced.jive-box.j-box-form,
.j-terms-n-conditions ~ a.j-btn-callout.j-to-top {
    display: none;
}

/* Hide the Send Invites button on the People Browse page -- RSALINK-4809 */
.j-browse-people #j-invite-button {
    display: none;
}

/* Style the Categories widget */
#jive-widget-container_2 .jive-widget-taggroupwidget .j-icon-list li {
    padding: 0px 0px 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
#jive-widget-container_2 .jive-widget-taggroupwidget .j-icon-list li:last-child {
    border-bottom: 0px;
}
#jive-widget-container_2 .jive-widget-taggroupwidget .jive-icon-med.jive-icon-folder {
    background-image: none;
}

/* Adding sort arrows to table for all RTE tables and on RSA NetWitness Known Issues page -- RSALINK-5895 */
th.header.headerSortUp span {
    background-image: url(https://www.rsa.com/content/dam/rsalink/images/sort-descending-arrow-13px.png);
    background-repeat: no-repeat;
    display: block;
    background-position: right center;
}

/* Adding sort arrows to table for all RTE tables and on RSA NetWitness Known Issues page -- RSALINK-5895 */
th.header.headerSortDown span {
    background-image: url(https://www.rsa.com/content/dam/rsalink/images/sort-ascending-arrow-13px.png);
    background-repeat: no-repeat;
    display: block;
    background-position: right center;
}

/* search icon warning on mobile view*/
@media screen and (max-width: 40em) {
	.jive-icon-warn {
        	display: none !important;
	}
}
/* END CUSTOM CSS */