/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          RSA Web Threat Detection Overview Page
Author:         Jeff Shurtliff
Last Editor:    Mohit Verman
Last Updated:   19 Dec 2019  
*/

/* Fix spacing between blog posts and recent documents */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget {
    margin-top: 25px;
}

/* Make the CAB Discussions widget header red (PMS 1815) */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #802629;
}

/* Make the CAB Discussions widget header blue/gray (PMS 7545) */
#jive-widget-container_1 > .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #415464;
}

/* Make the CAB Discussions widget header red (PMS 1815) */
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #802629;
}

/* Change background of CAB Discussions widget to gray (PMS 427, +30% White, +0.5 Opacity) */
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body,
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body .jive-table-row-odd td,
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body .jive-table-row-even td {
    background-color: #eeeff0;  /* rgba(222,224,225,0.5) */
}

/* Update the empty CAB widget when not authorized to view content */
.chrome .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty,
.ff .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty,
.opera .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty,
.safari .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty {
    visibility: hidden;
	padding-bottom: 20px;
}
.chrome .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.ff .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.opera .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.safari .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after {
    visibility: visible;
    display: block;
    content: 'These discussions are only accessible by Customer Advisory Board members. Please log in with a valid account to view.';
    margin-top: -17px;
    margin-bottom: 10px;
}

/* Adjust height of the first hover text for versions */
#productVersions-wtd .accessHover, #topVersion .accessHoverText {
    margin-top: -23px !important;
}

/* Style hover text for restricted subspaces */
.accessHover {
    position: relative;
    display: inline-block;
}
.accessHover .accessHoverText {
    visibility: hidden;
    width: 110px;
    background-color: #415464;
    color: #fff;
    font-family: Arial;
	font-size: 10px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    opacity: 1;

    /* Position the tooltip */
    position: absolute;
    z-index: 999;
    margin-left: 93px;
    margin-top: -33px;
}
.accessHover:hover .accessHoverText {
    visibility: visible;
}

/* Background for Top Knowledge Articles */
#jive-widget-container_1 .jive-widget-featuredcontentwidget .jive-widget-header {
    background: #802629;
}

/* Background for Web Threat Detection */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #415464;
}

a[data-role=button] {
    background-color: #415464;
    border: 1px solid #415464;
    color: #FFF;
}

a[data-role=button]:hover {
    color: #415464;
    background-color: #fff;
    border: 1px solid #802629;
}

/* Adjust right column height */
.rightColumnSpacer {
    min-height: 1375px;
}

    /* Adjust right column height */
    .rightColumnSpacer {
        min-height: 1375px;
    }

/* Make the Recent Advisories widget header red (PMS 1815) */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-tagwidget .jive-widget-header {
    background-color: #802629;;
}

#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #415464;
}

/* Hide the author name and avatar from the Recent Advisories widget */
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-author, 
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-avatar {
    display: none;
}

/* Changed shared content icon to look like the normal document icons */
#jive-widget-container_1 .jive-widget-tagwidget .jive-icon-doctype-generic {
    background-position: -16px -80px;
}

/*  Make the Recent Advisories widget background gray (PMS 1815) */
#jive-widget-container_1 .jive-widget-tagwidget .jive-widget-body {
    background-color: #eeeff0;
}

/* Make the background color of widget as gray */
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-even td {
    background-color: #eeeff0;
}

#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-odd td {
    background-color: #eeeff0;
}

#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #802629;
}

/* Recent Product Advisories margin top increased */
#jive-widget-container_1 > .jive-widget-tagwidget {
    margin-top: 30px;
    margin-bottom: -1px;
}

/* Alternate colors for other widgets */
#jive-widget-container_1 .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #415464;
}

/* Font color for Ask a Question, Start a discussion, and View All in Recent Discussion widget */
a[data-role=button]:hover {
    color: #802629 !important;
    background-color: #fff;
    border: 1px solid #415464;
}

/* When View All button has to be of gray color in Recent Advisories Widget */
a.grayDiscButton.discButton {
    background-color: #415464!important;
    color: #ffffff !important;
    border: 1px solid #415464!important;
    width: 70px;
}

.grayDiscButton.discButton:hover {
    background-color: #ffffff !important;
    color: #415464 !important;
    /* border: 1px solid #415464; */
}

/* Background for Top Knowledge Articles */
#jive-widget-container_1 .jive-widget-featuredcontentwidget .jive-widget-header {
    background: #802629;
}

/* Background for Web Threat Detection */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #415464;
}

a[data-role=button] {
    background-color: #415464;
    border: 1px solid #415464;
    color: #FFF;
}

a[data-role=button]:hover {
    color: #415464 !important;
    background-color: #fff;
    border: 1px solid #415464 !important;
}

/* Specific changes for View All button */
.grayDiscButton.discButton.viewAll {
    background-color: #802629 !important;
    color: #fff;
    border: 1px solid #802629 !important;
}

.grayDiscButton.discButton.viewAll:hover {
    background-color: #FFF !important;
    color: #802629 !important;
    border: 1px solid #802629 !important;
}