/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          RSA Data Protection Manager Overview Page
Author:         Jeff Shurtliff
Last Editor:    Mohit Verman
Last Updated:   05 Dec 2019
*/

/* Make the Top Knowledge Articles header blue/gray (PMS 7545) */
#jive-widget-container_1 > .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #415464;
}

/* Adjust right column height */
.rightColumnSpacer {
    min-height: 810px;
}

/* Make the Recent Advisories widget header red (PMS 1815) */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-tagwidget .jive-widget-header {
    background-color: #415464;
}

/* Hide the author name and avatar from the Recent Advisories widget */
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-author, 
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-avatar {
    display: none;
}

/* Changed shared content icon to look like the normal document icons */
#jive-widget-container_1 .jive-widget-tagwidget .jive-icon-doctype-generic {
    background-position: -16px -80px;
}

/*  Make the Recent Advisories widget background gray (PMS 1815) */
#jive-widget-container_1 .jive-widget-tagwidget .jive-widget-body {
    background-color: #eeeff0;
}

/* Make the background color of widget as gray */
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-even td {
    background-color: #eeeff0;
}

#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-odd td {
    background-color: #eeeff0;
}

/* Recent Product Advisories margin top increased */
#jive-widget-container_1 > .jive-widget-tagwidget {
    margin-top: 30px;
    margin-bottom: -1px;
}

/* Alternate colors for other widgets */
#jive-widget-container_1 .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #802629;
}

/* Font color for Ask a Question, Start a discussion, and View All in Recent Discussion widget */
a[data-role=button]:hover {
    color: #802629 !important;
    background-color: #fff;
    border: 1px solid #415464;
}

/* When View All button has to be of gray color in Recent Advisories Widget */
a.grayDiscButton.discButton {
    background-color: #415464 !important;
    color: #ffffff !important;
    border: 1px solid #415464 !important;
}

a.grayDiscButton.discButton:hover {
    background-color: #ffffff !important;
    color: #415464 !important;
    border: 1px solid #415464;
}