/*  
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          High-level Product Netwitness Platform Overview Page
Author:         Mohit Verman
Last Editor:    Mohit Verman
Last Updated:   19 Dec 2019  
*/

/* Change hover effect on Product Resources */
#productResources a:hover,
#productResources a:focus {
    text-decoration: none;
    font-weight: bold;
    font-size: 13.5px;
}

/* Styling according to RSALINK-6003 */
/* Make the Recent Advisories widget header red (PMS 1815) */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-tagwidget .jive-widget-header {
    background-color: #802629;
}

/* Hide the author name and avatar from the Recent Advisories widget */
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-author, 
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-avatar {
    display: none;
}

/* Change the shared icon to normal document icon for Recent Advisories widget */
/* Changed shared content icon to look like the normal document icons */
#jive-widget-container_1 .jive-widget-tagwidget .jive-icon-doctype-generic {
    background-position: -16px -80px;
}

/*  Make the Recent Advisories widget background gray (PMS 1815) */
#jive-widget-container_1 .jive-widget-tagwidget .jive-widget-body {
	background-color: #eeeff0;
}

#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-even td {
	background-color: #eeeff0;
}

#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-odd td {
	background-color: #eeeff0;
}

/* Recent Product Advisories margin top increased */
#jive-widget-container_1 > .jive-widget-tagwidget {
    margin-top: 30px;
	margin-bottom: -1px;
}

/* Alternate colors for other widgets */
#jive-widget-container_1 .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #415464;
}

#jive-widget-container_1 .jive-widget-featuredcontentwidget:last-child .jive-widget-header {
    background-color: #802629;
}
/* Top Knowledge Article widgets */
#jive-widget-container_1 .jive-widget-featuredcontentwidget ~ .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #802629
}

/* Recent Advisories For Netwitness Platform */
#jive-widget-container_1 .jive-widget:nth-child(9) .jive-widget-header {
    background-color: #415464;
}