/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          RSA Data Loss Prevention Overview Page
Author:         Jeff Shurtliff
Last Editor:    Mohit Verman
Last Updated:   14 Nov 2019
*/

/* Make the Top Knowledge Articles header blue/gray (PMS 7545) */
#jive-widget-container_1 > .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #415464;
}

