/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          RSA Web Threat Detection Overview Page
Author:         Jeff Shurtliff
Last Editor:    Jeff Shurtliff
Last Updated:   08 Dec 2018  
*/

/* Fix spacing between blog posts and recent documents */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget {
    margin-top: 25px;
}

/* Make the CAB Discussions widget header red (PMS 1815) */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #802629;
}

/* Make the CAB Discussions widget header blue/gray (PMS 7545) */
#jive-widget-container_1 > .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #415464;
}

/* Make the CAB Discussions widget header red (PMS 1815) */
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-header {
    background-color: #802629;
}

/* Change background of CAB Discussions widget to gray (PMS 427, +30% White, +0.5 Opacity) */
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body,
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body .jive-table-row-odd td,
.jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body .jive-table-row-even td {
    background-color: #eeeff0;  /* rgba(222,224,225,0.5) */
}

/* Update the empty CAB widget when not authorized to view content */
.chrome .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty,
.ff .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty,
.opera .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty,
.safari .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty {
    visibility: hidden;
	padding-bottom: 20px;
}
.chrome .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.ff .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.opera .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.safari .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget ~ .jive-widget-recentcontentwidget .jive-widget-body-empty:after {
    visibility: visible;
    display: block;
    content: 'These discussions are only accessible by Customer Advisory Board members. Please log in with a valid account to view.';
    margin-top: -17px;
    margin-bottom: 10px;
}

/* Adjust height of the first hover text for versions */
#productVersions-wtd .accessHover, #topVersion .accessHoverText {
    margin-top: -23px !important;
}

/* Style hover text for restricted subspaces */
.accessHover {
    position: relative;
    display: inline-block;
}
.accessHover .accessHoverText {
    visibility: hidden;
    width: 110px;
    background-color: #415464;
    color: #fff;
    font-family: Arial;
	font-size: 10px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    opacity: 1;

    /* Position the tooltip */
    position: absolute;
    z-index: 999;
    margin-left: 93px;
    margin-top: -33px;
}
.accessHover:hover .accessHoverText {
    visibility: visible;
}