/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          Recent Discussions Widget on RSA Archer Suite page
Author:         Jeff Shurtliff
Last Editor:    Mohit Verman
Last Updated:   14 Nov 2019 
*/

/* Update the empty Recent Discussions widget when not logged in */
.chrome .jive-widget-recentcontentwidget .jive-widget-body-empty,
.ff .jive-widget-recentcontentwidget .jive-widget-body-empty,
.opera .jive-widget-recentcontentwidget .jive-widget-body-empty,
.safari .jive-widget-recentcontentwidget .jive-widget-body-empty {
    visibility: hidden;
}
.chrome .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.ff .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.opera .jive-widget-recentcontentwidget .jive-widget-body-empty:after,
.safari .jive-widget-recentcontentwidget .jive-widget-body-empty:after {
    visibility: visible;
    display: block;
    content: 'These discussions are only accessible by verified RSA Archer customers and partners. Please log in with a valid account to view.';
    margin-top: -17px;
    margin-bottom: 10px;
}

/* Style the newsletter section */
#newsletterIcon {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#newsletterLink {
    text-align: center;
    margin-top: 5px;
    margin-bottom: -10px;
    font-size: 15px;
}

/* Make the Recent Advisories widget header red (PMS 1815) */
#jive-widget-container_1 > .jive-widget-recentcontentwidget ~ .jive-widget-tagwidget .jive-widget-header {
    background-color: #802629;
}

/* Hide the author name and avatar from the Recent Advisories widget */
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-author, 
#jive-widget-container_1 .jive-widget-tagwidget .jive-table-cell-avatar {
    display: none;
}

/* Change the shared icon to normal document icon for Recent Advisories widget */
/* Changed shared content icon to look like the normal document icons */
#jive-widget-container_1 .jive-widget-tagwidget .jive-icon-doctype-generic {
    background-position: -16px -80px;
}

/*  Make the Recent Advisories widget background gray (PMS 1815) */
#jive-widget-container_1 .jive-widget-tagwidget .jive-widget-body {
    background-color: #eeeff0;
}

#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-even td {
    background-color: #eeeff0;
}

#jive-widget-container_1 .jive-widget-tagwidget .jive-table-taggables tr.jive-table-row-odd td {
    background-color: #eeeff0;
}

/* Recent Product Advisories margin top increased */
#jive-widget-container_1 > .jive-widget-tagwidget {
    margin-top: 30px;
    margin-bottom: -1px;
}

/* Other widgets adjustment */
#jive-widget-container_1 .jive-widget-featuredcontentwidget .jive-widget-header {
    background-color: #415464;
}

/* Other widgets adjustment */
#jive-widget-container_1 .jive-widget-upcomingeventswidget .jive-widget-header {
    background-color: #802629;
}

a.discButton {
    padding: 8px 15px !important;
    width: 88%;
    font-size: 12px;
}