/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          RSA University Product Training Pages
Author:         Jeff Shurtliff
Last Editor:    Jeff Shurtliff
Last Updated:   21 Dec 2018
*/

/* Add the background image of the main banner */
#mainBanner {
    background-image: url(https://www.rsa.com/content/dam/rsalink/images/rsalink_spaceBanner_blue_920x156.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 156px;
}

/* Style the main banner text */
#mainBanner-title {
    color: #fff;    
    font-size: 40px;
    padding: 32px 44px;
    font-family: Arial,sans-serif;
    font-weight: 100;
}
@media only screen and (min-width: 1105px) and (max-width: 1200px) {
	#mainBanner-title {
		font-size: 35px;
	}
}
@media only screen and (max-width: 1104px) {
	#mainBanner-title {
		font-size: 27px;
		padding: 20px 44px;
	}
}
#mainBanner-title.twoLineTitle {
    padding: 18px 44px;
}

/* Hide search widget header */
.jive-widget-searchwidget .jive-widget-header {
    display: none;
}

/* Adjust the position of the search widget */
#jive-widget-container_1 >.jive-widget-searchwidget {
    margin-bottom: 10px;
    margin-top: -25px;
}

/* Custmize the search button */
#j-search-widget button {
    display: block;
    margin-top: -38px;
    margin-left: 75%;
    background: #e87722;
    border: none;
    border-radius: 0px;
    color: #fefefe;
	width: 22%;
	transition: background-color .25s ease-out;
}
#j-search-widget button:hover, #j-search-widget button:focus {
    background-color: #d86a16;
}

/* Customize the search bar */
#j-search-widget .j-spotlight-search input {
    width: 67%;
    margin-left: 5%;
}

/* Style the buttons */
a[data-role=button] {
    width: 88%;
    border-radius: 0px;
    line-height: 14px;
    font-size: 12px;
    line-height: 1rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    margin-bottom: 10px;
    padding: 8px 15px;
    position: relative;
    text-transform: none;
    background-color: #802629;
    border: 1px solid #802629;
    color: #FFF;
    text-decoration: none;
    transition: background-color .25s ease-out,border .25s ease-out;
}
a[data-role=button]:hover {
    background-color: #732225;
    border: 1px solid #732225;
}

/* Hide the Watch a Tag widget labels */
.jive-widget-watchlabel {
    display: none;
}

/* Hide author and avatar */
#jive-widget-container_1 td.jive-table-cell-author,
#jive-widget-container_1 img.jive-avatar {
    display: none;
}

/* Hide any external link icons */
.jive-link-external-small:after {
    background: none;
    margin: 0 -12px 0 -12px;
}

/* Hide the Community icons */
.jive-link-community-small {
    background-image: none;
    padding: 1px 0px 1px 0px !important;
}

/* Hide the document icons in the formatted text widgets */
.jive-widget-formattedtextwidget .jive-link-wiki-small {
    background-image: none;
    padding: 1px 0px 1px 0px !important;
}

/* Make right column background a gray color (PMS 427, +30% White, +0.5 Opacity) */
#jive-widget-container_2,
#jive-widget-container_2 .jive-widget-body {
    background-color: #eeeff0;  /* rgba(222,224,225,0.5) */
}

/* Make right column widget banners blue/gray */
#jive-widget-container_2 .jive-widget .jive-widget-header {
    background-color: #415464;
}

/* Style the "View Full Calendar" button */
#eventsButtonTable {
    border: 0px solid rgb(198, 198, 198);
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 0px; 
    width: 100%;
}
#eventsButtonTable td {
    padding-left: 10px; 
    padding-right: 10px; 
    text-align: center;
}
a.allEventsButton[data-role=button] {
    border-radius: 0px;
    line-height: 14px;
    font-size: 12px;
	line-height: 1rem;
	font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    margin-bottom: 10px;
    padding: 5px 10px;
    position: relative;
    text-transform: uppercase;
    background-color: #eeeff0;
    border: 1px solid #0075B0;
    color: #0075B0;    
	text-decoration: none;
}
a.allEventsButton[data-role=button]:hover {
    background-color: #FFF;
    border: 1px solid #0075B0;
    color: #0075B0;
}

/* Move View All Events widget closer to Upcoming Events widget */
.jive-widget-upcomingeventswidget {
    margin-bottom: -5px;
}