/*	
Stylesheet:		RSA Link 2017 Redesign
Scope:			Unified Data Model
Author:			Jeff Shurtliff
Published:		27 Jul 2018
*/

/* Add the background image of the main banner */
#mainBanner {
    background-image: url(https://www.rsa.com/content/dam/rsalink/images/L3-Header-920x156-Red.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 156px;
}

/* Style the main banner text */
h1#mainBanner-title {
    color: #fff;    
    font-size: 40px;
    padding: 22px 44px;
	font-family: inherit;
    font-weight: 100;
}
.mac h1#mainBanner-title {
	font-family:"Lucida Sans",Arial,sans-serif;
	font-weight: 100;
}
@media only screen and (min-width: 1080px) and (max-width: 1165px) {
	h1#mainBanner-title {
		font-size: 35px;
	}
}
@media only screen and (max-width: 1079px) {
	h1#mainBanner-title {
		font-size: 27px;
		padding: 20px 44px;
	}
}
h1#mainBanner-title.twoLineTitle {	/* If the title has two lines then add the .twoLineTitle class to the <h1> tag */
    padding-top: 22px;
}
h1#mainBanner-title span {
	font-family: "Open Sans Light",Arial,sans-serif;
	font-weight: 600;
}

/* Hide search widget header */
.jive-widget-searchwidget .jive-widget-header {
    display: none;
}

/* Adjust the position of the search widget */
#jive-widget-container_1 >.jive-widget-searchwidget {
    margin-bottom: 0px;
    margin-top: -25px;
}

/* Custmize the search button */
#j-search-widget button {
    display: block;
    margin-top: -38px;
    margin-left: 75%;
    background: #e87722;
    border: none;
    border-radius: 0px;
    color: #fefefe;
	width: 22%;
	transition: background-color .25s ease-out,color .25s ease-out;
}
#j-search-widget button:hover, #j-search-widget button:focus {
    background-color: #d86a16;
    color: #fefefe;
}

/* Customize the search bar */
#j-search-widget .j-spotlight-search input {
    width: 67%;
    margin-left: 5%;
}

/* Style the buttons */
a[data-role=button] {
    border-radius: 0px;
    line-height: 14px;
    font-size: 12px;
    line-height: 1rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    margin-bottom: 10px;
    padding: 14px 15px;
    position: relative;
    text-transform: none;
    background-color: #509e2e;
    border: 1px solid #509e2e;
    color: #FFF;
    text-decoration: none;
	transition: background-color .25s ease-out,border .25s ease-out,color .25s ease-out;
}
a.dlButton {
    padding: 8px 15px;
    width: 88%;
    font-size: 12px;
}
a[data-role=button]:hover {
    background-color: #7bbe20;
    border: 1px solid #7bbe20;
    color: #FFF;
}

/* Style the View All Buttons */
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget-htmltextwidget ~ .jive-widget-htmltextwidget a[data-role=button] {
    background-color: #FFF;
    border: 1px solid #006ba6;
    color: #006ba0;
    padding: 8px 15px;
	width: 35%;
    transition: background-color .25s ease-out,border .25s ease-out,color .25s ease-out;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget-htmltextwidget ~ .jive-widget-htmltextwidget a[data-role=button]:hover {
    background-color: #006ba6;
    border: 1px solid #006ba6;
    color: #FFF;
}

/* Adjust spacing between View All buttons and Watch a Tag widgets */
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget-htmltextwidget ~ .jive-widget-htmltextwidget {
    margin-top: -25px;
}

/* Hide the Watch a Tag widget labels */
.jive-widget-watchlabel {
    display: none;
}

/* Change the color of every other header in the left column */
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #006ba6;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #5eb4e3;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #006ba6;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #5eb4e3;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
	background-color: #006ba6;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
	background-color: #5eb4e3;
}
/* Make right column background a light blue color */
#jive-widget-container_2 {
    background-color: #e3f2f9;
}
#jive-widget-container_2 .jive-widget-body {
    background-color: #e3f2f9;
}
#DisplayProductResources {
    background-color: #e3f2f9;
}

/* Hide author and avatar */
#jive-widget-container_1 td.jive-table-cell-author {
    display: none;
}
#jive-widget-container_1 img.jive-avatar {
    display: none;
}

/* Add spacing between search bar and View Document widget */
.jive-widget-documentviewwidget {
    margin-top: 20px;
}

/* Set the height of the two iframes */
#widgetIframe {
	min-height: 330px !important;
}
#widgetIframe ~ #widgetIframe {
	min-height: 520px !important;
}

/* Set default size of the right column widgets */
#jive-widget-container_2 .jive-widget-htmltextwidget {
	min-height: 330px;
	background-color: #e3f2f9;
}
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget-htmltextwidget {
	min-height: 520px;
}
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget-htmltextwidget ~ .jive-widget-htmltextwidget {
	min-height: 0px;
}

/* Style the Meta Entities table */
table.metaTable {
    font-size: 12.5px;
    border: 2px solid #414042;
}

/* Adjust the width of most large widgets */
#jive-widget-container_1 .jive-widget-documentviewwidget ~ .jive-widget {
    width: 1150px;
}

/* Enlarge the first letter of the paragraph */
p.capitalizeFirst:first-child:first-letter {
    font-size: 54px;
    font-weight: 200;
    line-height: 40px;
    float: left;
    margin: 6px 8px 0 0;
    padding: 0;
    text-transform: uppercase;
}



/*
 *  DEFINE THE STYLNIG OF THE TABLE CLASSES
 */
 
/* Hide optional columns by default */
.optionalCol {
    display: none;
}
 
/* Style the Meta Class column */
.udmClassCol {
	border-top: none;
	width: 9%;
}
 
/* Style the Meta Concept column */
.udmDescriptionCol {
	border-top: none; 
	border-left: none; 
	width: 13%;
}
 
/* Style the Log Parser Key column */
.udmMappingCol {
	border-top: none; 
	border-left: none; 
	width: 14%;
}
 
/* Style the Log Parser Key Flag column */
.udmFlagsCol {
	border-top: none; 
	border-left: none; 
	width: 5%;
}

/* Style the Meta Key oolumn */
.udmNameCol {
	border-top: none;
	border-left: none;
	width: 11%;
}

/* Style the Meta Type column */
.udmFormatCol {
	border-top: none;
	border-left: none;
	width: 7%;
}

/* Style the Meta Index column */
.udmIndexCol {
	border-top: none; 
	border-left: none; 
	width: 10%;
}

/* Style the Notse column */
.udmNotesCol {
	border-top: none; 
	border-left: none; 
	width: 27%;
}