/*	
Stylesheet:		RSA Link 2017 Redesign
Scope:			Transitional Design (Use During Rolling Deployment)
Author:			Jeff Shurtliff
Published:		13 Oct 2017
*/

/* THIS FILE IS NOW BLANK AS IT IS DEPRECATED */