/*	
Stylesheet:		RSA Link 2017 Redesign
Scope:			RSA Link Central
Author:			Jeff Shurtliff
Published:		16 May 2018
*/

/* Add the background image of the main banner */
#mainBanner {
    background-image: url(https://www.rsa.com/content/dam/rsalink/images/L3-Header-920x156-Red.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 156px;
}

/* Style the main banner text */
h1#mainBanner-title {
    color: #fff;    
    font-size: 50px;
    padding: 33px 44px;
	font-family: inherit;
    font-weight: 100;
}
.mac h1#mainBanner-title {
	font-family:"Lucida Sans",Arial,sans-serif;
	font-weight: 100;
}
@media only screen and (min-width: 1105px) and (max-width: 1200px) {
	h1#mainBanner-title {
		font-size: 35px;
	}
}
@media only screen and (max-width: 1104px) {
	h1#mainBanner-title {
		font-size: 27px;
		padding: 20px 44px;
	}
}
h1#mainBanner-title.twoLineTitle {	/* If the title has two lines then add the .twoLineTitle class to the <h1> tag */
    padding-top: 22px;
}
h1#mainBanner-title span {
	font-family: "Open Sans Light",Arial,sans-serif;
	font-weight: 600;
}

/* Hide search widget header */
.jive-widget-searchwidget .jive-widget-header {
    display: none;
}

/* Adjust the position of the search widget */
#jive-widget-container_1 >.jive-widget-searchwidget {
    margin-bottom: 15px;
    margin-top: -25px;
}

/* Custmize the search button */
#j-search-widget button {
    display: block;
    margin-top: -38px;
    margin-left: 75%;
    background: #e87722;
    border: none;
    border-radius: 0px;
    color: #fefefe;
	width: 22%;
	transition: background-color .25s ease-out,color .25s ease-out;
}
#j-search-widget button:hover, #j-search-widget button:focus {
    background-color: #d86a16;
    color: #fefefe;
}

/* Customize the search bar */
#j-search-widget .j-spotlight-search input {
    width: 67%;
    margin-left: 5%;
}

/* Adjust spacing between buttons and Featured Content widget */
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget-htmltextwidget {
    margin-bottom: 15px;
}

/* Hide the Watch a Tag widget labels */
.jive-widget-watchlabel {
    display: none;
}

/* Change the color of every other header in the left column */
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #006ba6;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #5eb4e3;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #006ba6;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #5eb4e3;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
	background-color: #006ba6;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
	background-color: #5eb4e3;
}
/* Make right column background a light blue color */
#jive-widget-container_2 {
    background-color: #e3f2f9;
}
#jive-widget-container_2 .jive-widget-body {
    background-color: #e3f2f9;
}
#DisplayProductResources {
    background-color: #e3f2f9;
}

/* Remove embedded TOC from Publishing Guide widget */
.jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-rendered-content .toc {
    display: none;
}
.jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-rendered-content #jive_content_id_Table_of_Contents {
    padding-top: 10px;
}