<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<style type="text/css">
@import url('https://www.rsa.com/content/dam/rsalink/css/rsalink-iframe.css');
@import url('https://www.rsa.com/content/dam/rsalink/css/rsalink-c360-case-summary.css');
</style>

<script>
    var app = angular.module('ngMasterApp', []);
        var $j = jQuery.noConflict();
        app.controller('ngApp', function($scope, $http) {
            $scope.init = function () {
            	$http.get("https://community.rsa.com/docs/DOC-105098").then(function(response) {
	                $j(".openCasesReportDataTab").html($j(response.data).find(".openCasesReport"));
               		$j(".caseSummaryReportDataTab").html($j(response.data).find(".caseSummaryReport"));
	            });
                $j(".openCasesReportDataTab").show();
                $j(".caseSummaryReportDataTab").hide();
	            setTimeout(resizeMe,2000);
            };
            $scope.init();

            $scope.openCasesReportData = function(){
            	$j('.openCasesReportDataTab').show();
            	$j('.caseSummaryReportDataTab').hide();
            	setTimeout(resizeMe,0);
            }

            $scope.caseSummaryReportData = function(){
            	$j('.openCasesReportDataTab').hide();
            	$j('.caseSummaryReportDataTab').show();	
            	setTimeout(resizeMe,0);
            }

        });
 </script>
 
 <div class="practiceAreasContainer" ng-app="ngMasterApp" ng-controller="ngApp">
	<div class="switch-toggle switch-3 switch-candy">
            <input type="radio" id="activeProjects" name="state-d" class="radio" checked="" value="tab1">
            <label for="activeProjects" ng-click="openCasesReportData()">Open Cases</label>
            
            <input type="radio" id="completedProjects" name="state-d" class="radio" value="tab2">
            <label for="completedProjects" ng-click="caseSummaryReportData()">365 Day Case Summary</label>
            <a></a>
        </div>
        
    <!-- Open Cases Stuff -->    
    <div class="wrapper openCasesReportDataTab"></div>

    <!-- 365 Day Case Summary Stuff -->
    <div class="wrapper caseSummaryReportDataTab"></div>
</div>