<!DOCTYPE html>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://www.rsa.com/content/dam/rsalink/angularjs/lodash.min.js"></script>
    <script type="text/javascript" src="https://www.rsa.com/content/dam/rsalink/angularjs/angularjs-dropdown-multiselect.min.js"></script>
    <link href="https://www.rsa.com/content/dam/rsalink/css/rsalink-university-training-product.css" rel="stylesheet">        
    <script src="https://www.rsa.com/content/dam/rsalink/js/university_identityGovernance&Lifecycle_main_widget_documentFilter.js"></script>
    <div ng-app="ngchangeApp" ng-controller="ngApp">
      <!-- <div class="row">
        <div class="col-sm-3">
            <label for="usr">COURSE</label>
            <input ng-keyup="searchCourse($event)" type="text" class="form-control" id="course" placeholder="Search for an Integration" ng-model="courseInput">
        </div>
        <div class="col-sm-3">
          <label for="sel1">DELIVERY TYPE</label>
          <select class="form-control" name="deliveryType" ng-options="type.value as type.text for type in deliveryType" ng-change="filterByColumn()" ng-model="selectedDeliveryType">
                <option value="">--Select Delivery Type--</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="sel2">ROLE</label>
          <select class="form-control" name="roles" ng-options="role.value as role.text for role in roles" ng-change="filterByColumn()" ng-model="selectedRole">
                <option value="">--Select Role--</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label for="sel3">LEVEL</label>
          <select class="form-control" name="levels" ng-options="level.value as level.text for level in levels" ng-change="filterByColumn()" ng-model="selectedLevel">
                <option value="">--Select Level--</option>
          </select>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-3">
            <label for="usr">COURSE</label>
            <input ng-keyup="searchCourse($event)" type="text" class="form-control" id="course" placeholder="Search for a training course" ng-model="courseInput">
        </div>
        <div class="col-sm-3">
            <label for="deleveryType">DELIVERY TYPE</label>
            <div id="deliveryType" ng-dropdown-multiselect="" options="deliveryType" selected-model="selectedDeliveryType" checkboxes="true" extra-settings="deliveryTypeSettings" translation-texts="deleveryTypeText" class="form-control" events="{onItemSelect: filterByColumn, onItemDeselect:filterByColumn}"></div>
        </div>
        <div class="col-sm-3">
            <label for="role">ROLE</label>
            <div id="role" ng-dropdown-multiselect="" options="roles" selected-model="selectedRole" checkboxes="true" extra-settings="roleSettings" translation-texts="roleText" class="form-control" events="{onItemSelect: filterByColumn, onItemDeselect:filterByColumn}"></div>
        </div>
        <div class="col-sm-3">
            <label for="level">LEVEL</label>
            <div id="level" ng-dropdown-multiselect="" options="levels" selected-model="selectedLevel" checkboxes="true" extra-settings="levelSettings" translation-texts="levelText" class="form-control" events="{onItemSelect: filterByColumn, onItemDeselect:filterByColumn}"></div>            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <table style="border: 1px solid #c6c6c6; width: 99.8108%;" class="customMasterTable">
                <thead>
                    <tr style="height: 30px; background-color: #415464;">
                        <th style="width: 60%; height: 25px; color: #ffffff;" class="header"><span>Course Name / Description</span></th>
                        <th style="width: 25%; height: 25px; color: #ffffff;" class="header"><span>Delivery Options</span></th>
                        <th style="width: 15%; height: 25px; color: #ffffff;" class="header"><span>Cost</span></th>
                    </tr>
                </thead>
                <tbody class="customMasterDocument"></tbody>
            </table>
        </div>
    </div>
 </div>