/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          Product Versions Spaces (Documentation Spaces)
Author:         Jeff Shurtliff
Last Editor:    Jeff Shurtliff
Last Updated:   10 Apr 2019
*/

/* Add the background image of the main banner */
#mainBanner {
    background-image: url(https://www.rsa.com/content/dam/rsalink/images/rsalink_spaceBanner_red_920x156.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 156px;
}

/* Style the main banner text */
#mainBanner-title {
    color: #fff;    
    font-size: 40px;
    padding: 32px 44px;
    font-family: Arial,sans-serif;
    font-weight: 100;
}
@media only screen and (min-width: 1105px) and (max-width: 1200px) {
	#mainBanner-title {
		font-size: 35px;
	}
}
@media only screen and (max-width: 1104px) {
	#mainBanner-title {
		font-size: 27px;
		padding: 20px 44px;
	}
}
#mainBanner-title.twoLineTitle {
    padding: 18px 44px;
}

/* Style the main banner when the tile has a tagline */
#mainBanner-title.titleWithTagline {
    padding: 18px 44px;
    font-size: 34px;
}
.titleWithTagline #taglineText {
    font-size: 25px;
}

/* Hide search widget header */
.jive-widget-searchwidget .jive-widget-header {
    display: none;
}

/* Adjust the position of the search widget */
#jive-widget-container_1 >.jive-widget-searchwidget {
    margin-bottom: 0px;
    margin-top: -25px;
}

/* Custmize the search button */
#j-search-widget button {
    display: block;
    margin-top: -38px;
    margin-left: 75%;
    background: #e87722;
    border: none;
    border-radius: 0px;
    color: #fefefe;
	width: 22%;
	transition: background-color .25s ease-out;
}
#j-search-widget button:hover, #j-search-widget button:focus {
    background-color: #d86a16;
}

/* Customize the search bar */
#j-search-widget .j-spotlight-search input {
    width: 67%;
    margin-left: 5%;
}

/* Style the buttons */
a[data-role=button] {
    width: 88%;
    border-radius: 0px;
    font-size: 12px;
    line-height: 1rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    margin-bottom: 10px;
    padding: 8px 15px;
    position: relative;
    text-transform: none;
    background-color: #802629;
    border: 1px solid #802629;
    color: #FFF;
    text-decoration: none;
    transition: background-color .25s ease-out,color .25s ease-out;
}
a[data-role=button]:hover {
    background-color: #fff;
    color: #802629;
}

/* Hide the Watch a Tag widget labels */
.jive-widget-watchlabel {
    display: none;
}

/* Create a manual downloads header */
#manualDoubleHeader {
    background-color: #415464;
    border-style: solid none;
    border-top-color: #eeeeee;
    border-top-width: 0px;
    border-bottom-color: #eeeeee;
    border-bottom-width: 0px;
	width: 100%;
	height: 33px;
	color: #FFF; 
	font-size: 13px; 
	font-weight: bold;
	font-family: Arial,sans-serif;
	text-transform: uppercase; 
	display: block;
	padding-top: 5px;
	padding-left: 14px;
	padding-right: 7px;
	margin-left: -7px;
}

/* Style the other manual headers */
#manualHeader {
    background-color: #415464;
    border-style: solid none;
    border-top-color: #eeeeee;
    border-top-width: 0px;
    border-bottom-color: #eeeeee;
    border-bottom-width: 0px;
	width: 100%;
	height: 25px;
	color: #FFF; 
	font-size: 13px; 
	font-weight: bold; 
	font-family: Arial,sans-serif;
	text-transform: uppercase; 
	display: block;
	padding-top: 5px;
	padding-left: 7px;
}

/* Move the Downloads widget next to the new header*/
#jive-widget-container_2 .jive-widget-tagwidget {
    margin-top: -30px;
}

/* Update the Latest Downloads message when not logged in */
#jive-widget-container_2 .jive-widget-htmltext ~ .jive-widget-tagwidget .jive-widget-body-empty p {
    visibility: hidden;
}
#jive-widget-container_2 .jive-widget-htmltext ~ .jive-widget-tagwidget .jive-widget-body-empty p:after {
    visibility: visible;
    display: block;
    content: 'RSA product downloads are only accessible to users with active maintenance contracts.';
    margin-top: -34px;
    margin-bottom: -10px;
}

/* Change the color of every other header in the left column */
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
	background-color: #415464;
}
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_1 .jive-widget-searchwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #802629;
}

/* Hide author and avatar */
#jive-widget-container_1 td.jive-table-cell-author,
#jive-widget-container_1 img.jive-avatar {
    display: none;
}

/* Change the color of the even rows in the content widgets to gray (PMS 427, +30% White, +0.5 Opacity) */
.jive-widget-tagwidget .jive-widget-body .jive-table-row-even td,
.jive-widget-recentcontentwidget .jive-widget-body .jive-table-row-even td,
.jive-widget-recentblogpostswidget .jive-widget-body .jive-table-row-even td,
.jive-widget-featuredcontentwidget .jive-widget-body .jive-table-row-even td {
    background-color: #eeeff0;  /* rgba(222,224,225,0.5) */
}

/* Hide any external link icons */
.jive-link-external-small:after {
    background: none;
    margin: 0 -12px 0 -12px;
}

/* Make right column background a gray color (PMS 427, +30% White, +0.5 Opacity) */
#jive-widget-container_2,
#jive-widget-container_2 .jive-widget-body {
    background-color: #eeeff0;  /* rgba(222,224,225,0.5) */
}

/* Make right column widget banners blue/gray */
#jive-widget-container_2 .jive-widget .jive-widget-header {
    background-color: #415464;
}

/* Style the Categories widget */
#jive-widget-container_2 .jive-widget-taggroupwidget .j-icon-list li {
    padding: 0px 0px 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
#jive-widget-container_2 .jive-widget-taggroupwidget .j-icon-list li:last-child {
    border-bottom: 0px;
}
#jive-widget-container_2 .jive-widget-taggroupwidget .jive-icon-med.jive-icon-folder {
    background-image: none;
}

/* Adjust vertical alignment of main banner for RSA NetWitness Platform 11.3 */
#mainBanner-title.mainBanner-title-style {
    padding: 24px 44px;
}

/* Style the tagline in the main banner for RSA NetWitness Platform 11.3 */
.mainBanner-desc {
    text-align: left;
    text-indent: 0.5in; 
    font-size: 18px;
    color: #FFFFFF; 
    margin-top: -15px;
}
