/*	
Stylesheet:		RSA Link 2017 Redesign
Scope:			Product Version (Two Column) Watch a Tag Widgets
Description:		When this stylesheet is referenced the widget header for the Watch a Tag widgets on the right column will be hidden.
Author:			Jeff Shurtliff1
Published:		03 Aug 2017
*/

#jive-widget-container_2 .jive-widget-tagwidget .jive-widget-header {
    display: none;
}