/*	
Website:        RSA Link
Iteration:      Nov 2018 Redesign
Scope:          RSA Select Customer 360 Summary Pages
Author:         Jeff Shurtliff
Last Editor:    Jeff Shurtliff
Last Updated:   13 Jan 2020

TABLE OF CONTENTS:
    1.0 - Title Section
        1.1 - Main Banner
        1.2 - Search Bar
    2.0 - Left Column
        2.1 - General
        2.2 - Company Information
        2.3 - Case Summary Report
        2.4 - Escalations
        2.5 - RSA Ideas
        2.6 - Active Maintenance Contracts
        2.7 - Current Events and News Feeds
    3.0 - Right Column
        3.1 - General
        3.2 - Team RSA
        3.3 - Quick Facts
        3.4 - Status Reports
            3.4.1 - Bi-Weekly Status Reports
            3.4.2 - TAM Status Reports
*/

/***************************
 *   1.0 - TITLE SECTION   *
 ***************************/

/***|  1.1 - Main Banner  |***/

/* Add the background image of the main banner */
#mainBanner {
    background-image: url(https://www.rsa.com/content/dam/rsalink/images/rsalink_spaceBanner_gray_1128x172.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 195px;
    margin: 0;
}

/* Style the main banner text */
h1#mainBanner-title {
    color: #fff;    
    font-size: 45px;
    padding: 12px 44px;
    font-family: Arial,sans-serif;
    font-weight: 100;
}

/* Adjust the size of the registered trademark symbol */
h1#mainBanner-title sup {
    font-size: 28px;
}
#mainBanner-title .prefaceText {
    font-size: 28px;
}
#mainBanner-title .companyText {
    font-size: 50px;
}

/***|  1.2 - Search Bar  |***/

/* Hide search widget header */
.jive-widget-searchwidget .jive-widget-header {
    display: none;
}

/* Adjust the position of the search widget */
#jive-widget-container_1 >.jive-widget-searchwidget {
    margin-bottom: 15px;
    margin-top: -25px;
}
#j-search-widget .j-spotlight-search {
    width: 85%;
    height: auto;
    float: left;
    margin: 0;
}

/* Customize the search bar */
#j-search-widget .j-spotlight-search input {
    display: block;
    background: #fff;
    width: 93%;
    height: auto;
    outline: none;
    border-radius: 4px;
    border: 1px solid #bbb;
    border-bottom: 1px solid #dadada;
    padding: 6px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    font: 13px Arial, sans-serif;
    margin: 0 10px 7px 0;
    position: relative;
    right: 7px;
}

/* Customize the search button */
#j-search-widget button {
    display: block;
    margin-top: -38px;
    margin-left: auto;
    margin-right: 0;
    background: #e87722;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 0;
    color: #fefefe;
    width: 22%;
    transition: background-color .25s ease-out,color .25s ease-out;
    position: relative;
    right: -180px;
}
#j-search-widget button:hover, #j-search-widget button:focus {
    background-color: #d86a16;
    color: #fefefe;
}

/*************************
 *   2.0 - LEFT COLUMN   *
 *************************/
 
 /***|  2.1 - General  |***/

 /* Make widget header text smaller */
h4.jive-widget-handle {
    font-size: 84%;
}

/* Additional styling to normal hyperlinks in Formatted Text widgets */
#jive-widget-container_2 .jive-widget-formattedtextwidget td a.jive-link-external-small {
    text-decoration: underline;
}
#jive-widget-container_2 .jive-widget-formattedtextwidget td a.jive-link-external-small:hover {
    font-weight: bold;
}

/* Change the header color for all subsequent widgets */
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #802629;
}
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header,
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget ~ .jive-widget .jive-widget-header {
    background-color: #415464;
}

/* Remove external icon */
.jive-link-external-small:after {
	display: none;
}
.jive-link-external-small {
	padding-right: 0;
}

/* Hide author and avatar */
#jive-widget-container_2 td.jive-table-cell-author,
#jive-widget-container_2 img.jive-avatar {
    display: none;
}

/* Style the buttons in case ever needed */
a[data-role=button] {
    border-radius: 0px;
    line-height: 14px;
    font-size: 12px;
    width: 88%;
    line-height: 1rem;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial,sans-serif;
    margin-bottom: 10px;
    padding: 8px 15px;
    position: relative;
    text-transform: none;
    background-color: #802629;
    border: 1px solid #802629;
    color: #fff;
    text-decoration: none;
    transition: background-color .25s ease-out, 
                border .25s ease-out, 
                color .25s ease-out;
}
a[data-role=button]:hover {
    background-color: #fff;
    border: 1px solid #802629;
    color: #802629;
}

/***|  2.2 - Company Information  |***/

/* Style the Company Information section */
#jive-widget-container_2 .jive-widget-htmltextwidget .jive-widget-header {
    background-color: #802629;
}
#jive-widget-container_2 .jive-widget-htmltextwidget {
    background-color: #eeeff0;
}
#companyInfoTable {
	border: 0px;
	width: 100%;
}
#companyInfoTable td {
	vertical-align: middle;
}
#companyInfoTable .textCol {
	margin-top: 20px;
	min-width: 50%;
}
#companyInfoTable a {
	font-weight: bold;
	font-size: 14px;
}
#companyInfoTable img {
	float: right;
	max-height: 200px;
	max-width: 400px;
}

/***|  2.3 - Case Summary Report  |***/

/* Add border around case summary graphics */
#jive-widget-container_2 .jive-widget-formattedtextwidget img {
    border: solid;
    width: 99%;
}
#jive-widget-container_2 .jive-widget-formattedtextwidget ~ .jive-widget-formattedtextwidget img {
    border: 0;
    width: auto;
}

/***|  2.4 - Escalations  |***/

/* Rename the Escalation widget on the Customer 360 Spaces */
.chrome #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span,
.ff #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span,
.opera #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span,
.safari #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span {
    display: none;
}
.chrome #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after,
.ff #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after,
.opera #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after,
.safari #jive-widget-container_2 .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after {
    content: 'ACTIVE ESCALATED SUPPORT CASES';
}
.chrome #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span,
.ff #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span,
.opera #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span,
.safari #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle span {
    display: initial;
}
.chrome #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after,
.ff #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after,
.opera #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after,
.safari #jive-widget-container_2 .jive-widget-documentviewwidget ~ .jive-widget-documentviewwidget .jive-widget-header h4.jive-widget-handle:after {
    content: '';
}

/***|  2.5 - RSA Ideas  |***/

/* Display only the first 5 ideas in the RSA Ideas widget (automated widgets only) */
tr.rsaIdeas.ideasTableRow {
    display: none;
}
tr.rsaIdeas.ideasTableRow:nth-child(1), 
tr.rsaIdeas.ideasTableRow:nth-child(2), 
tr.rsaIdeas.ideasTableRow:nth-child(3), 
tr.rsaIdeas.ideasTableRow:nth-child(4), 
tr.rsaIdeas.ideasTableRow:nth-child(5) {
    display: table-row;
}

/* Hide extraneous <span> tags generated from the update_ideas.py script */
.rsaIdeas.introText ~ span {
    display: none;
}

/***|  2.6 - Active Maintenance Contracts  |***/

/* Reset the background to transparent */
#jive-widget-container_2 .jive-widget-htmltextwidget ~ .jive-widget-htmltextwidget {
    background-color: transparent;
}

/***|  2.7 - Current Events and News Feeds  |***/

/* Style the RSS Feed Widget */
.jive-widget-rssfeed-entry {
    padding: 1px 10px 10px 10px;
    margin: 0;
}
.jive-widget-rssfeed-entry:nth-child(even) {
    border-top: 1px solid #eeeff0;
    border-bottom: 1px solid #eeeff0;
}
.jive-widget-rssfeed a {
    font-size: 16px;
	font-family: Arial, sans-serif;
}
.jive-widget-rssfeed-entry-body {
    color: #232222;
    font-size: 13px;
	font-family: Arial, sans-serif;
}
.jive-widget-rss .jive-widget-body {
    margin-top: -10px;
}
a.statusrss.font-color-meta-light {
    display: none;
}
.jive-content-filter {
    display: none;
}


/**************************
 *   3.0 - RIGHT COLUMN   *
 **************************/

 /***|  3.1 - General  |***/

/* Move View All widget closer to Status Reports widget */
#jive-widget-container_3 .jive-widget-tagwidget {
	margin-bottom: -5px;
}

/* Make right column background a gray color (PMS 427, +30% White, +0.5 Opacity) */
#jive-widget-container_3,
#jive-widget-container_3 .jive-widget-body {
    background-color: #eeeff0;  /* rgba(222,224,225,0.5) */
}

/* Change hyperlink styling in right column tables */
#jive-widget-container_3 .jive-widget-formattedtextwidget .j-rte-table a {
    text-decoration: none !important;
}
#jive-widget-container_3 .jive-widget-formattedtextwidget .j-rte-table a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 13.5px;
}
a.jive-link-email-small {
    background: none;
    padding-left: 0px;
}

/* Vertically align the table data in the right column tables */
#jive-widget-container_3 .jive-widget-formattedtextwidget .j-rte-table td {
    vertical-align: middle;
}

/* Change the background color of the right column tables to gray */
#jive-widget-container_3 .jive-widget-formattedtextwidget .j-rte-table tbody td {
    background-color: #eeeff0;
}

/* Hide the Watch a Tag widget labels */
.jive-widget-watchlabel {
    display: none;
}

/***|  3.2 - Team RSA  |***/

/* Hide document icon from Team RSA widget */
#jive-widget-container_3 .jive-widget-formattedtextwidget .jive-link-wiki-small {
    background: none;
    padding-left: 0;
}

/***|  3.3 - Quick Facts  |***/

/* Change header background for Quick Facts table to red */
#jive-widget-container_3 .jive-widget-formattedtextwidget ~ .jive-widget-formattedtextwidget table th,
#jive-widget-container_3 .jive-widget-formattedtextwidget ~ .jive-widget-documentviewwidget table th {
	background-color: #802629 !important;
}

/* Change header styling for the automated Quick Facts table */
table.quickFactsTable th {
    background-color: #802629 !important;
    color: #fff;
}

/* Right-align the Ranking values in the Quick Facts table */
#jive-widget-container_3 .jive-widget-formattedtextwidget ~ .jive-widget-formattedtextwidget .j-rte-table tr td ~ td,
table.quickFactsTable tr td ~ td {
    text-align: right;
}

/***|  3.4 - Status Reports  |***/

/* Style the bi-weekly status and TAM report hyperlinks */
#jive-widget-container_3 .jive-widget-tagwidget li a {
    text-decoration: none;
}
#jive-widget-container_3 .jive-widget-tagwidget li:hover a {
    text-decoration: none;
    font-weight: bold;
    font-size: 13.5px;
}

/* Style the "View All" button */
#statusReportButtonTable {
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
}
#statusReportButtonTable td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
a.allStatusReportsButton[data-role=button] {
    padding: 5px 5px;
    background-color: #eeeff0;
    border: 1px solid #415464;
    color: #415464;    
}
a.allStatusReportsButton[data-role=button]:hover {
    background-color: #FFF;
    border: 1px solid #415464;
    color: #415464;
}

/* Move View All widget closer to Status Reports widget */
#jive-widget-container_3 .jive-widget-tagwidget {
    margin-bottom: -5px;
}

/***|  3.4.1 - Bi-Weekly Status Reports  |***/

/* Update the Bi-Weekly Status Reports message when empty */
.chrome #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p,
.ff #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p,
.opera #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p,
.safari #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p {
    visibility: hidden;
}
.chrome #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p:after,
.ff #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p:after,
.opera #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p:after,
.safari #jive-widget-container_3 .jive-widget-tagwidget .jive-widget-body-empty p:after {
    visibility: visible;
    display: block;
    content: 'No bi-weekly status reports have been uploaded at this time.';
	text-align: center;
    margin-top: -40px;
    margin-bottom: -10px;
}

/***|  3.4.2 - TAM Status Reports  |***/

/* Update the TAM Reports message when empty */
.chrome #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p,
.ff #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p,
.opera #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p,
.safari #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p {
    visibility: hidden;
}
.chrome #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p:after,
.ff #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p:after,
.opera #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p:after,
.safari #jive-widget-container_3 .jive-widget-tagwidget ~ .jive-widget-tagwidget .jive-widget-body-empty p:after {
    visibility: visible;
    display: block;
    content: 'No TAM reports have been uploaded at this time.';
	text-align: center;
    margin-top: -40px;
    margin-bottom: -10px;
}